body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#game-board {
    width: 320px;
    height: 320px;
    background-color: #1b1b1b;
    position: relative;
    margin: 20px auto;
    box-sizing: border-box;
}

#game-over {
    font-size: 2rem;
    color: red;
    position: relative;
    margin: 162px 0 162px 0 ;
    box-sizing: border-box;
}


.snake, .food {
    width: 20px;
    height: 20px;
    position: absolute;
}

.snake {
    background-color: #0f0;
}

.food {
    background-color: #f00;
}

.score {
    color: grey;
    font-size: 24px;
    margin-bottom: 10px;
}

#start-button {
    color: grey;
    background-color: #000;
    border: solid 3px grey;
    border-radius: 3px;
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 1.5rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#controls button {
    color: grey;
    background-color: #000;
    border: solid 3px grey;
    border-radius: 3px;
    margin: 16px;
    padding-bottom: 6px;
    width: 48px;
    height: 48px;
    font-size: 1.75rem;
    cursor: pointer;
}
