body {
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  margin: 0;
  background-color: #000;
  font-family: Arial, sans-serif;
  overflow: hidden;
}


.container {
  text-align: center;
  width: 100%;
  max-width: 360px; /* Added max-width for better mobile scaling */
  /* padding: 16px; */
  box-sizing: border-box;
}

#game-board {
  width: 320px;
  height: 320px;
  background-color: #1b1b1b;
  position: relative;
  margin: 20px auto;
  box-sizing: border-box;
}

#game-over {
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 320px;
  background-color: #1b1b1b;
  font-size: 2rem;
  color: red;
  position: relative;
  margin: 20px auto;
  box-sizing: border-box;
}

.snake,
.food {
  width: 20px;
  height: 20px;
  position: absolute;
}

.snake {
  background-color: #0f0;
}

.food {
  background-color: #f00;
}

.score {
  color: grey;
  font-size: 24px;
  margin: 16px;
}

.dpad {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 48px;
}

#controls {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-template-rows: repeat(3, 48px);
  /* gap: 8px; */
  justify-content: center;
  align-items: center;
}

.control-btn {
  color: #000;
  font-size: 1.5rem;
  background-color: grey;
  margin: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#up-btn {
  grid-column: 2;
  grid-row: 1;
}

#down-btn {
  grid-column: 2;
  grid-row: 3;
}

#left-btn {
  grid-column: 1;
  grid-row: 2;
}

#right-btn {
  grid-column: 3;
  grid-row: 2;
}

#center-btn {
grid-column: 2;
grid-row: 2;
}

#start-button {
  height: 30px;
  text-align: center;
  width: 64px;
  color: grey;
  background-color: #000;
  border: solid 3px grey;
  border-radius: 3px;
  display: block;
  margin: 46px 0 0 48px;
  padding: 8px 16px 8px 16px;
  font-size: 1.5rem;
  cursor: pointer;
}

.cat {
  color: #808080;
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}